#attribution {
	bottom:10;
	left:10;
}

body {
	padding: 15px;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	
	background: url(background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.btn-primary {
	background-color: rgb(119,35,252);
	border-radius: 6px;
	border-color: rgb(119,35,252);
}

#dispcity {
	color: black;
}

#cityfield {
	color: black;
}